.container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.projectPicture {
    display: none;
    text-align: center;
}

.numbertext {
    color: #463f3a;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    padding: 16px;
    margin-top: -50px;
    color: #463f3a;
    font-size: 20px;
    user-select: none;
    -webkit-user-select: none;
}

.next {
    right: 0;
}


.pictureGlimpse {
    opacity: 0.6;
    height: 100px;
    margin: auto;
}

.active,
.pictureGlimpse:hover {
    opacity: 1;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.row {
    width: auto;
    margin: auto;
}

.column {
    float: left;
}

img {
    vertical-align: middle;
}

table {
    width: 50%;
    margin: auto;
}

td {
    vertical-align: top;
}

th {
    padding: 1px;
    margin: 1px;
    height: 25px;
    font-size: 20px;
}

h1 {
    color: #463f3a;
    text-align: center;
    margin: 15px;
}