body {
    background-color: #EDEDE9;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

footer {
    background-color: #D5BDAF;
    position: relative;
    bottom: 2px;
    width: 100%;
}

table {
    border: none;
    background-color: none;
    width: 60%;
    text-align: center;
    margin: auto;
}

a {
    text-decoration: none;
    color: #000;
}

h1 {
    color: #463f3a;
}

.project {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

img {
    height: 256px;
}