.taleauFocus {
    width: 99%;
    text-align: center;
    margin: 10px;
    border: 3px solid;
    border-color: #b89885;
    background-color: none;
    /*#e6e1e1; */
    border-style: solid;
}

h1 {
    text-align: center;
    width: 100%;
    color: #000000;
    text-decoration: none;

}

.titre {
    padding: 20px;
    color: #a88875;
    font-size: 20px;
}

.pageFocus {
    text-decoration: none;
    color: #0f0f0f;


}

.pageFocus:hover {
    background-color: #D5BDAF;
}

.c1 {
    padding: 7px;
}

section {
    overflow-x: auto;
}